# Include dependencies
graft bower_components
graft lib

# Include user-facing configuration, and launch scripts
graft conf
graft sbin

# Include source files
recursive-include src *.py
recursive-include static *.min.js
recursive-include static *.min.css
include static/img/favicon.ico
graft templates

# Remove test folder from distribution
prune test

# Include default directories (default working directory, temp folder with jars)
recursive-include work __default__
include test/resources/filelist/prod/start-sbt-app_2.10-0.0.1.jar

# Include README and license information
include README.md
include LICENSE

# Include internal configuration, version and setup
include internal.py
include version.py
include setup.py
