// Font variables to load
// font family
$font-family: "Open Sans";
// font paths
$font-path-light:       "../font/opensans/OpenSans-Light.ttf";
$font-path-regular:     "../font/opensans/OpenSans-Regular.ttf";
$font-path-semibold:    "../font/opensans/OpenSans-Semibold.ttf";
$font-path-bold:        "../font/opensans/OpenSans-Bold.ttf";
$font-path-extrabold:   "../font/opensans/OpenSans-ExtraBold.ttf";
// file format
$font-format-truetype:  "truetype";


@font-face {
    font-family: $font-family;
    src: url($font-path-light) format($font-format-truetype);
    font-weight: 300; font-style: normal;
}

@font-face {
    font-family: $font-family;
    src: url($font-path-regular) format($font-format-truetype);
    font-weight: 400; font-style: normal;
}

@font-face {
    font-family: $font-family;
    src: url($font-path-regular) format($font-format-truetype);
    font-weight: 500; font-style: normal;
}

@font-face {
    font-family: $font-family;
    src: url($font-path-semibold) format($font-format-truetype);
    font-weight: 600; font-style: normal;
}

@font-face {
    font-family: $font-family;
    src: url($font-path-bold) format($font-format-truetype);
    font-weight: 700; font-style: normal;
}

@font-face {
    font-family: $font-family;
    src: url($font-path-extrabold) format($font-format-truetype);
    font-weight: 800; font-style: normal;
}
