<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <meta name="description" content="">
        <meta name="keywords" content="">
        <meta name="author" content="">

        <title>
            Home &middot; Octohaven
        </title>

        <link rel="icon" type="image/x-icon" href="/image/favicon.ico">
        <link rel="stylesheet" href="/style/internal.min.css">
        <script type="text/javascript" src="/script/js/timezone.js"></script>
    </head>
    <body>
        <div class="page container">
            <div class="columns">
                <div class="one-fourth column">
                    <nav class="menu">
                        <div class="menu-heading">
                            Octohaven
                        </div>
                        <a class="menu-item" href="{{ home_url }}">
                            Home
                        </a>
                        <a class="menu-item" href="{{ userdash_url }}">
                            {{ username }}
                        </a>
                        <a class="menu-item" href="{{ logout_url }}">
                            Logout
                        </a>
                    </nav>
                </div>
                <div class="three-fourths column">
                    {% if projects %}
                    <div class="basic secondary segment">
                        <a href="{{ create_url }}">
                            + project
                        </a>
                    </div>
                    <div class="segments">
                        {% for project in projects %}
                        <div class="segment">
                            <div class="basic segment">
                                <a href="{{ project_url }}{{ project.name }}">
                                    {{ project.name }}
                                </a>
                                {% autoescape on %}
                                <p>
                                    {{ project.desc }}
                                </p>
                                {% endautoescape %}
                                <p class="note">
                                    Created {{ project.datetime }}
                                </p>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                    {% else %}
                    <div class="segment">
                        <div class="blankslate">
                            <h1 class="text-thin">
                                Nothing yet
                            </h1>
                            <p>
                                <a href="{{ create_url }}">
                                    Create a new project
                                </a>
                            </p>
                        </div>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </body>
</html>
