<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <meta name="description" content="">
        <meta name="keywords" content="">
        <meta name="author" content="">

        <title>
            Home &middot; Octohaven
        </title>

        <link rel="icon" type="image/x-icon" href="/image/favicon.ico">
        <link rel="stylesheet" href="/style/internal.min.css">
        <link rel="stylesheet" href="/style/semantic.min.css">
    </head>
    <body>
        <div class="ui page grid">
            <div class="twelve wide centered column">
                <div class="ui basic segment">
                    <div class="ui text menu">
                        <a class="active item" href="/">
                            Octohaven
                        </a>
                        <div class="item">
                            <i class="user icon"></i>
                            {{username}}
                        </div>
                        <a class="item" href="{{logout_url}}">
                            Logout
                        </a>
                    </div>
                </div>
            </div>
            <div class="twelve wide centered column">
                {% if projects %}
                <div class="ui top attached secondary segment">
                    <form action="{{create_url}}">
                        <button class="btn">+ project</button>
                    </form>
                </div>
                <div class="ui bottom attached segment">
                    <div class="ui divided items">
                        {% for project in projects %}
                        <div class="item">
                            <div class="content">
                                <div class="header">
                                    <button class="btn btn-link">
                                        {{ project.id }}
                                    </button>
                                </div>
                                {% autoescape on %}
                                <div class="meta">
                                    <span>
                                        {{ project.name }}
                                    </span>
                                </div>
                                {% endautoescape %}
                                <div class="extra">
                                    Created {{ project.datetime }}
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
                {% else %}
                <div class="ui segment">
                    <div class="blankslate">
                        <h1 class="icon header">
                            <i class="wizard icon"></i>
                            <div class="content text-thin">
                                Nothing yet
                            </div>
                        </h1>
                        <p class="text-mute">
                            <a class="link" href="{{create_url}}">
                                Create a new project
                            </a>
                        </p>
                    </div>
                </div>
                {% endif %}
            </div>
        </div>
    </body>
</html>
