<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <meta name="description" content="Apache Spark simple job manager">
        <meta name="keywords" content="Apache Spark job manager">
        <meta name="author" content="sadikovi@github">

        <title>
            {% block title %}{% endblock %} &middot; Octohaven
        </title>

        <link rel="icon" type="image/x-icon" href="/static/img/favicon.ico">
        <link rel="stylesheet" href="/static/octohaven.min.css">
        <script type="text/javascript" src="/static/octohaven.preload.min.js"></script>
        <script type="text/javascript" src="/static/external/react/react.js"></script>
        <script type="text/javascript" src="/static/external/react/react-dom.js"></script>
        <script type="text/javascript" src="/static/external/eventEmitter/EventEmitter.min.js"></script>
        <script type="text/javascript" src="/static/external/flux/dist/Flux.js"></script>
        {% block head_scripts %}{% endblock %}
    </head>
    <body>
        <div class="page large margin-bottom container">
            <div class="columns">
                <div class="one-fourth column">
                    <nav class="menu">
                        <div class="menu-heading">Octohaven {{ version }}</div>
                        <div class="menu-item" id="octohaven-spark-server-status">
                            <span class="text-mute">Spark cluster:</span>
                            {% if cluster_status == 0 %}
                            <span class="text-green">ready</span>
                            {% elif cluster_status == -1 %}
                            <span class="text-yellow">busy</span>
                            {% else %}
                            <span class="text-red">not available</span>
                            {% endif %}
                        </div>
                        {% block nav %}{% endblock %}
                        <div class="menu-heading">Misc</div>
                        <div class="menu-item">
                          <div class="breadcrumbs">
                              <a class="section" href="/api">API</a>
                              <span class="separator">&nbsp;</span>
                              <a class="section" href="https://github.com/sadikovi/octohaven">GitHub</a>
                          </div>
                        </div>
                    </nav>
                    {% block menu %}{% endblock %}
                </div>
                <div class="three-fourths column">
                    <div class="top attached blue bordered segment">
                        <div>
                            <span class="text-mute">Spark UI: </span>
                            <a href="{{ spark_ui }}">
                                <code id="octohaven-spark-ui-address">{{ spark_ui }}</code>
                            </a>
                        </div>
                        <div>
                            <span class="text-mute">Spark Master: </span>
                            <code id="octohaven-spark-master-address">{{ spark_master }}</code>
                        </div>
                    </div>
                    <div class="attached secondary segment">
                        <h1 class="text-thin">{% block header %}{% endblock %}</h1>
                        <h4 class="text-thin text-mute">{% block subheader %}{% endblock %}</h4>
                    </div>
                    <div class="bottom attached segment" id="content">
                        {% block content %}{% endblock %}
                    </div>
                </div>
            </div>
        </div>
        {% block scripts %}{% endblock %}
    </body>
</html>
