{% extends "base.html" %}
{% block title %} Create job {% endblock %}
{% block nav %}
    <div class="menu-heading">Actions</div>
    <a class="menu-item" href="/jobs">View jobs</a>
{% endblock %}
{% block menu %}
    <div id="templates"></div>
{% endblock %}
{% block header %} Create new Spark job {% endblock %}
{% block subheader %} Use templates to quickly preload data {% endblock %}
{% block content %}{% endblock %}
{% block scripts %}
    <script type="text/javascript" src="/static/octohaven.createjob.min.js"></script>
{% endblock %}
