{% extends "base.html" %}

{% block title %} Job details {% endblock %}
{% block nav %}
    <div class="menu-heading">Actions</div>
    <a class="menu-item" href="/create/job">Create new job</a>
    <a class="menu-item" href="/jobs">View jobs</a>
{% endblock %}
{% block menu %}
    <div id="job-actions"></div>
{% endblock %}
{% block header %} Job details {% endblock %}
{% block content %}
    <div id="content-json" class="hidden">{{ job }}</div>
{% endblock %}
{% block scripts %}
    <script type="text/javascript" src="/static/octohaven.job.min.js"></script>
{% endblock %}
