{% extends "base.html" %}
{% block title %} Jobs {% endblock %}
{% block nav %}
    <div class="menu-heading">Actions</div>
    <a class="menu-item" href="/create/job">Create new job</a>
    <a class="menu-item" href="/timetables">View timetables</a>
{% endblock %}
{% block menu %}
    <h4>Filter</h4>
    <ul class="filter-list">
        {% for elem in statuses %}
        <li>
            <a href="/jobs/{{ elem.lower() }}" class="filter-item {{ 'selected' if status == elem }}">
                {{ elem }}
            </a>
        </li>
        {% endfor %}
    </ul>
{% endblock %}
{% block header %} Job history {% endblock %}
{% block subheader %} Shows last 50 jobs {% endblock %}
{% block content %}
    <div class="blankslate">
        <h1 class="text-thin">No jobs found</h1>
        <p>Try <a href="/create/job">creating a new one</a></p>
    </div>
{% endblock %}
