{% extends "base.html" %}
{% block title %} Index {% endblock %}
{% block nav %}
    <div class="menu-heading">Actions</div>
    <a class="menu-item" href="/create">Create new job</a>
    <a class="menu-item" href="/timetables">View timetables</a>
{% endblock %}
{% block menu %}
    <h4>Filter</h4>
    <ul class="filter-list">
        {% for elem in statuses %}
        <li>
            <a href="/jobs/{{ elem.lower() }}" class="filter-item {{ 'selected' if status == elem }}">
                {{ elem }}
            </a>
        </li>
        {% endfor %}
    </ul>
{% endblock %}
{% block header %} Job history {% endblock %}
{% block subheader %} Shows last 50 jobs {% endblock %}
{% block content %}
    <div>Test</div>
{% endblock %}
