{% extends "base.html" %}
{% block title %} Jobs {% endblock %}
{% block nav %}
    <div class="menu-heading">Actions</div>
    <a class="menu-item" href="/create/job">Create new job</a>
    <a class="menu-item" href="/timetables">View timetables</a>
{% endblock %}
{% block menu %}
    <div id="filters"></div>
{% endblock %}
{% block header %} Job history {% endblock %}
{% block subheader %} Shows last 100 jobs {% endblock %}
{% block scripts %}
<script type="text/javascript" src="/static/octohaven.jobs.min.js"></script>
{% endblock %}
