// Clear floats
.clearfix {
  @include clearfix;
}

// Floats
.right { float: right; }

.left { float: left; }


// Layout

// Centers content horizontally. Can be used inside or outside the grid.
.centered {
  display: block;
  float: none;
  margin-left: auto;
  margin-right: auto;
}


// Text alignment
.text-right { text-align: right; }

.text-left { text-align: left; }

// Text weight
.text-bold { font-weight: bold !important;}

.text-thin { font-weight: 300 !important;}

// Text size
.text-large { font-size: 30px !important; }

.text-small { font-size: 8px !important; }

// Text states
.danger { color: #c00; }

.mute { color: #000; }

.text-blue { color: $brand-blue; }

.text-success,
.text-green { color: $brand-green; }

.text-error,
.text-failure,
.text-red { color: $brand-red; }

.text-orange { color: $brand-orange; }

.text-purple { color: $brand-purple; }

.text-yellow { color: $brand-yellow; }

.text-teal { color: $brand-teal; }


// Muted link
.muted-link {
  color: #777;

  &:hover {
    color: $brand-blue;
    text-decoration: none;
  }
}

// Misc
.hidden {
  display: none;
}

.warning {
  padding: 0.5em;
  margin-bottom: 0.8em;
  font-weight: bold;
  background-color: #fffccc;
}

.error_box {
  padding: 1em;
  font-weight: bold;
  background-color: #ffebe8;
  border: 1px solid #dd3c10;
}
