$container-padding: 20px;

.container {
    width: auto;
    max-width: $container-width;
    padding-left: $container-padding;
    padding-right: $container-padding;
    margin-right: auto;
    margin-left: auto;
    @include clearfix;

    &.fixed { width: $container-width; }

    &.page {
        padding: $container-padding;
    }
}
